[Unit]
Description=Remote USB Storage Gadget

[Service]
Type=simple
User=root
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/node /home/dev/remote-usb-storage-gadget/bin/server.ts

[Install]
WantedBy=multi-user.target
