[Unit]
Description=Remote USB Storage Gadget

[Service]
Type=simple
User=root
Restart=always
RestartSec=1
ExecStart=/home/dev/remote-usb-storage-gadget/node_modules/.bin/tsx /home/dev/remote-usb-storage-gadget/bin/server.ts

[Install]
WantedBy=multi-user.target
